/* style for repositories icon */
.repoicon-wrap > * {
  box-sizing: border-box;
}
.repoicon-wrap {
  box-sizing: border-box;
  position: relative;
  height: 17px;
  width: 13px;
  display: inline-block;
}
.repoicon-wrap::after {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #959da5;
  border-top: 2px solid #959da5;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  left: 3px;
  bottom: -2px;
}
.repoicon-wrap::before {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #959da5;
  border-top: 2px solid #959da5;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  left: 3px;
  bottom: -2px;
}
.repoicon-wrap .repoicon {
  height: 12px;
  width: 13px;
  border: 2px solid #959da5;
  border-radius: 4px 0 0 0;
}
.repoicon-wrap .repoicon:before {
  height: 3px;
  width: 3px;
  border-top: 2px solid #959da5;
  border-right: 2px solid #959da5;
  position: absolute;
  content: "";
  display: inline-block;
  right: 0;
  bottom: 0;
  transform: rotate(90deg);
}
.repoicon-wrap .repoicon:after {
  position: absolute;
  height: 5px;
  background: #959da5;
  content: "";
  display: inline-block;
  left: 0;
  width: 2px;
  bottom: 0;
}
